Repository microsoft/vscode-dev-containers, pull requests merged in 2019-05, with the labels that each got.

#30 [java] Fix symlink and upgrade to Gradle 5.4.1
  containers/java-11/.devcontainer/Dockerfile
  containers/java-12/.devcontainer/Dockerfile
  containers/java-8/.devcontainer/Dockerfile
Labels: java

#28 [Non-blocking cosmetic fix] Add missing "&&" into Node definitions when updating yarn
  containers/javascript-node-8/.devcontainer/Dockerfile
  containers/javascript-node-lts-mongo/.devcontainer/Dockerfile
  containers/javascript-node-lts/.devcontainer/Dockerfile
  containers/typescript-node-8/.devcontainer/Dockerfile
  containers/typescript-node-lts/.devcontainer/Dockerfile
Labels: javascript, node, typescript

#29 Use correct PowerShell container
  containers/powershell/.devcontainer/Dockerfile
Labels: powershell
