Repository microsoft/vscode-dev-containers, pull requests merged in 2020-07, with the labels that each got.

#356 Create a container definition for swift-5.2
  containers/swift-5.2/.devcontainer/Dockerfile
  containers/swift-5.2/.devcontainer/devcontainer.json
  containers/swift-5.2/.npmignore
  containers/swift-5.2/README.md
  containers/swift-5.2/test-project/Package.swift
  containers/swift-5.2/test-project/Sources/main.swift
Labels: swift

#405 Update Vue definition to match consolidated javascript-node definition, fix non-root scenario
  containers/python-3/.devcontainer/Dockerfile
  containers/python-3/.devcontainer/base.Dockerfile
  containers/vue/.devcontainer/Dockerfile
  containers/vue/.devcontainer/devcontainer.json
Labels: javascript, node

#410 Simplify Python 3 base.Dockerfile
  containers/python-3/.devcontainer/Dockerfile
  containers/python-3/.devcontainer/base.Dockerfile
  containers/python-3/README.md
Labels: python

#427 feat: updated code to download and install gh CLI.
  containers/codespaces-linux/.devcontainer/Dockerfile
Labels: codespaces

#404 Update oryx image and symlink to newest version.
  containers/codespaces-linux/.devcontainer/Dockerfile
  containers/codespaces-linux/.devcontainer/symlinkDotNetCore.sh
  containers/codespaces-linux/definition-manifest.json
Labels: codespaces

#426 Update Go definition to use common script, two layers, simplify a bit
  containers/go/.devcontainer/Dockerfile
  containers/go/.devcontainer/devcontainer.json
  containers/go/README.md
Labels: go

#430 Fix symlinking script for .NET Core installations
  containers/codespaces-linux/.devcontainer/symlinkDotNetCore.sh
Labels: codespaces

#431 Fix symlinking for .NET Core 2.2.402
  containers/codespaces-linux/.devcontainer/symlinkDotNetCore.sh
Labels: codespaces

#445 Move Kubernets - Helm config into a script, update layering
  containers/kubernetes-helm/.devcontainer/Dockerfile
  containers/kubernetes-helm/.devcontainer/copy-kube-config.sh
  containers/kubernetes-helm/README.md
Labels: kubernetes

#437 Switch Dart to using common script, a VARIANT arg, improve layering
  containers/dart/.devcontainer/Dockerfile
  containers/dart/.devcontainer/devcontainer.json
  containers/dart/README.md
Labels: dart

#434 Refine PHP definitions to improve layering, use common script, optionally add node.js
  containers/php-7-mariadb/.devcontainer/Dockerfile
  containers/php-7-mariadb/.devcontainer/docker-compose.yml
  containers/php-7/.devcontainer/Dockerfile
  containers/php-mariadb/.devcontainer/Dockerfile
  containers/php-mariadb/.devcontainer/devcontainer.json
  containers/php-mariadb/.devcontainer/docker-compose.yml
  containers/php-mariadb/.npmignore
  containers/php-mariadb/.vscode/settings.json
  containers/php-mariadb/README.md
  containers/php-mariadb/test-project/test.sh
  containers/php/.devcontainer/Dockerfile
  containers/php/.devcontainer/devcontainer.json
  containers/php/.npmignore
  containers/php/.vscode/launch.json
  containers/php/README.md
  containers/php/test-project/main.php
Labels: php
