Repository microsoft/vscode-dev-containers, pull requests merged in 2020-04, with the labels that each got.

#279 Update Dockerfile to install kubectl
  containers/vsonline-linux/.devcontainer/Dockerfile
Labels: vsonline

#292 Add PHP 7 & MariaDB
  containers/php-7-mariadb/.devcontainer/Dockerfile
  containers/php-7-mariadb/.devcontainer/devcontainer.json
  containers/php-7-mariadb/.devcontainer/docker-compose.yml
  containers/php-7-mariadb/.npmignore
  containers/php-7-mariadb/.vscode/settings.json
  containers/php-7-mariadb/README.md
  containers/php-7-mariadb/test-project/test.sh
Labels: php

#299 Enable non-root use of Docker socket, use common script in Docker-in-Docker definition
  .vscode/launch.json
  build/src/prep.js
  containers/docker-in-docker/.devcontainer/Dockerfile
  containers/docker-in-docker/.devcontainer/devcontainer.json
  containers/docker-in-docker/README.md
  script-library/.devcontainer/Dockerfile
  script-library/.devcontainer/devcontainer.json
  script-library/docker-debian.sh
Labels: docker-in-docker
