Repository microsoft/vscode-dev-containers, pull requests merged in 2021-06, with the labels that each got.

#871 Update sshd-debian.sh to restore environment variables for login shells
  .github/workflows/script-library.yml
  script-library/README.md
  script-library/docs/sshd.md
  script-library/sshd-debian.sh
  script-library/test/regression/Dockerfile
  script-library/test/regression/alpine/.devcontainer.json
  script-library/test/regression/debian/.devcontainer.json
  script-library/test/regression/redhat/.devcontainer.json
  script-library/test/regression/run-scripts.sh
  script-library/test/regression/test.sh
  script-library/test/sshd/Dockerfile
  script-library/test/sshd/debian/.devcontainer.json
  script-library/test/sshd/test-in-container-for-user.sh
  script-library/test/sshd/test-in-container.sh
  script-library/test/sshd/test-prep.sh
  script-library/test/sshd/test-user-secrets.json
Labels: codespaces, script-library

#905 Fix issue with path for SDKMAN installed tools
  containers/codespaces-linux/.devcontainer/base.Dockerfile
  containers/java/.devcontainer/base.Dockerfile
Labels: codespaces, java

#685 vscode remote container Haskell
  containers/haskell/.devcontainer/Dockerfile
  containers/haskell/.devcontainer/devcontainer.json
  containers/haskell/.devcontainer/library-scripts/common-debian.sh
  containers/haskell/README.md
Labels: changes-requested
